In [10]:
import pandas as pd
import numpy as np

filename = 'caa_pxp_2024.csv'

combined_df = pd.read_csv(filename)

combined_df

,#,Title,Notes,Tags,Text Overlay,Duration,Date,Pitcher,Hitter,Inning,...,Runners On Base,Outs,Count,Pitch Result,Pitch Type,Velocity (MPH),BIP Type,BIP Result,Non-BIP Result,Team
0,1,"Brittain, N. VS Jackson, H.",College of William & Mary vs Campbell University,NaN,NaN,00:00:04.9,05/18/2024,"Brittain, N.","Jackson, H.",T1,...,-,0,0-0,Strike Taken,Fastball,96,NaN,NaN,NaN,Campbell
1,2,"Brittain, N. VS Jackson, H.",College of William & Mary vs Campbell University,NaN,NaN,00:00:05.3,05/18/2024,"Brittain, N.","Jackson, H.",T1,...,-,0,0-1,Strike Swinging,Fastball,95,NaN,NaN,NaN,Campbell
2,3,"Brittain, N. VS Jackson, H.",College of William & Mary vs Campbell University,NaN,NaN,00:00:09.9,05/18/2024,"Brittain, N.","Jackson, H.",T1,...,-,0,0-2,BIP,Fastball,96,Line Drive,Lineout,NaN,Campbell
3,4,"Brittain, N. VS Parker, B.",College of William & Mary vs Campbell University,NaN,NaN,00:00:05.7,05/18/2024,"Brittain, N.","Parker, B.",T1,...,-,1,0-0,Foul,Fastball,96,NaN,NaN,NaN,Campbell
4,5,"Brittain, N. VS Parker, B.",College of William & Mary vs Campbell University,NaN,NaN,00:00:05.5,05/18/2024,"Brittain, N.","Parker, B.",T1,...,-,1,0-1,Strike Swinging,Curveball,84,NaN,NaN,NaN,Campbell
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99322,9136,"Pierce, O. VS Scanlon, S.",College of the Holy Cross vs College of Willia...,NaN,NaN,00:00:01.8,02/16/2024,"Pierce, O.","Scanlon, S.",T9,...,1B,2,0-1,Ball,Fastball,89,NaN,NaN,NaN,William & Mary
99323,9137,"Pierce, O. VS Scanlon, S.",College of the Holy Cross vs College of Willia...,NaN,NaN,00:00:02.0,02/16/2024,"Pierce, O.","Scanlon, S.",T9,...,1B,2,1-1,Foul,Changeup,83,NaN,NaN,NaN,William & Mary
99324,9138,"Pierce, O. VS Scanlon, S.",College of the Holy Cross vs College of Willia...,NaN,NaN,00:00:01.9,02/16/2024,"Pierce, O.","Scanlon, S.",T9,...,1B,2,1-2,Foul,Fastball,89,NaN,NaN,NaN,William & Mary
99325,9139,"Pierce, O. VS Scanlon, S.",College of the Holy Cross vs College of Willia...,NaN,NaN,00:00:01.9,02/16/2024,"Pierce, O.","Scanlon, S.",T9,...,1B,2,1-2,Ball,Fastball,89,NaN,NaN,NaN,William & Mary
99326,9140,"Pierce, O. VS Scanlon, S.",College of the Holy Cross vs College of Willia...,NaN,NaN,00:00:02.1,02/16/2024,"Pierce, O.","Scanlon, S.",T9,...,1B,2,2-2,Strike Taken,Curveball,75,NaN,NaN,Strikeout,William & Mary

In [11]:
x = combined_df.columns.tolist()
x

['#',
 'Title',
 'Notes',
 'Tags',
 'Text Overlay',
 'Duration',
 'Date',
 'Pitcher',
 'Hitter',
 'Inning',
 'Score',
 'Runners On Base',
 'Outs',
 'Count',
 'Pitch Result',
 'Pitch Type',
 'Velocity (MPH)',
 'BIP Type',
 'BIP Result',
 'Non-BIP Result',
 'Team']

In [12]:
combined_df['Runners On Base'].unique()

array([' - ', '1B', '2B', '1B-2B', '1B-3B', '3B', '1B-2B-3B', '2B-3B'],
      dtype=object)

In [13]:
combined_df["Results"] = combined_df["BIP Result"].fillna('') + combined_df["Non-BIP Result"].fillna('')
combined_df["Results"] = combined_df["Results"].replace('', None)

combined_df.drop(columns=["BIP Result", "Non-BIP Result"], inplace=True)

combined_df.head()

,#,Title,Notes,Tags,Text Overlay,Duration,Date,Pitcher,Hitter,Inning,Score,Runners On Base,Outs,Count,Pitch Result,Pitch Type,Velocity (MPH),BIP Type,Team,Results
0,1,"Brittain, N. VS Jackson, H.",College of William & Mary vs Campbell University,NaN,NaN,00:00:04.9,05/18/2024,"Brittain, N.","Jackson, H.",T1,0-0,-,0,0-0,Strike Taken,Fastball,96,NaN,Campbell,None
1,2,"Brittain, N. VS Jackson, H.",College of William & Mary vs Campbell University,NaN,NaN,00:00:05.3,05/18/2024,"Brittain, N.","Jackson, H.",T1,0-0,-,0,0-1,Strike Swinging,Fastball,95,NaN,Campbell,None
2,3,"Brittain, N. VS Jackson, H.",College of William & Mary vs Campbell University,NaN,NaN,00:00:09.9,05/18/2024,"Brittain, N.","Jackson, H.",T1,0-0,-,0,0-2,BIP,Fastball,96,Line Drive,Campbell,Lineout
3,4,"Brittain, N. VS Parker, B.",College of William & Mary vs Campbell University,NaN,NaN,00:00:05.7,05/18/2024,"Brittain, N.","Parker, B.",T1,0-0,-,1,0-0,Foul,Fastball,96,NaN,Campbell,None
4,5,"Brittain, N. VS Parker, B.",College of William & Mary vs Campbell University,NaN,NaN,00:00:05.5,05/18/2024,"Brittain, N.","Parker, B.",T1,0-0,-,1,0-1,Strike Swinging,Curveball,84,NaN,Campbell,None

In [14]:
required_columns = {"Date", "Pitcher", "Hitter", "Inning"}
missing_cols = required_columns - set(combined_df.columns)
if missing_cols:
    print(f"Missing columns: {missing_cols}")
else:
    # Sort data for correct sequencing within games
    combined_df = combined_df.sort_values(by=["Date", "Pitcher", "Inning"])

    # Compute Pitch Count: Cumulative count of pitches per pitcher
    combined_df["Pitch Count"] = combined_df.groupby(["Date", "Pitcher"]).cumcount() + 1

    # Identify first pitch of each new at-bat
    combined_df["New AB"] = (combined_df["Count"] == "0-0").astype(int)  # Assuming 'Count' column tracks ball-strike count

    # Compute Pitches Per AB (Reset properly)
    combined_df["Pitches Per AB"] = combined_df.groupby(["Date", "Pitcher", "Hitter", "New AB"])["Pitch Count"].cumsum() + 1

    # Compute cumulative sum of 'New AB'
    combined_df["Cumulative New AB"] = combined_df.groupby(["Pitcher", "Date"])["New AB"].cumsum()

    # Create 'Time Through Order' based on the cumulative sum, grouped by 'Pitcher' and 'Date'
    combined_df["Time Through Order"] = (combined_df["Cumulative New AB"] // 10) + 1




    # Display results
combined_df.head()

,#,Title,Notes,Tags,Text Overlay,Duration,Date,Pitcher,Hitter,Inning,...,Pitch Type,Velocity (MPH),BIP Type,Team,Results,Pitch Count,New AB,Pitches Per AB,Cumulative New AB,Time Through Order
66188,8806,"Atiya, E. VS Clements, M.",University of Delaware vs University of North ...,NaN,NaN,00:00:02.8,02/16/2024,"Atiya, E.","Clements, M.",B5,...,Fastball,0,NaN,Delaware,None,1,1,2,1,1
66189,8807,"Atiya, E. VS Clements, M.",University of Delaware vs University of North ...,NaN,NaN,00:00:02.1,02/16/2024,"Atiya, E.","Clements, M.",B5,...,Fastball,0,NaN,Delaware,None,2,0,3,1,1
66190,8808,"Atiya, E. VS Clements, M.",University of Delaware vs University of North ...,NaN,NaN,00:00:08.9,02/16/2024,"Atiya, E.","Clements, M.",B5,...,Changeup,0,Fly Ball,Delaware,Flyout,3,0,6,1,1
66191,8809,"Atiya, E. VS Gerteisen, T.",University of Delaware vs University of North ...,NaN,NaN,00:00:02.3,02/16/2024,"Atiya, E.","Gerteisen, T.",B5,...,Unknown,0,NaN,Delaware,None,4,1,5,2,1
66192,8810,"Atiya, E. VS Gerteisen, T.",University of Delaware vs University of North ...,NaN,NaN,00:00:02.1,02/16/2024,"Atiya, E.","Gerteisen, T.",B5,...,Curveball,0,NaN,Delaware,None,5,0,6,2,1

In [17]:
import numpy as np

def calculate_runs(combined_df):
    # Extract scores and split into two separate team scores
    scores = combined_df["Score"].str.split("-", expand=True).astype(int)
    
    # Compute total runs before and after the play
    runs_before = scores.sum(axis=1)
    runs_after = runs_before.shift(-1)  # Shift up to get the next row's total runs
    
    # Compute runs on the play (absolute difference)
    runs_on_play = (runs_after - runs_before).abs()
    
    # Assign calculated values back to the DataFrame
    combined_df["Runs Before"] = runs_before
    combined_df["Runs After"] = runs_after
    combined_df["Runs on the Play"] = runs_on_play.replace(0, np.nan)  # Replace 0 with NaN for clarity
    
    return combined_df

,#,Title,Notes,Tags,Text Overlay,Duration,Date,Pitcher,Hitter,Inning,...,Pitch Type,Velocity (MPH),BIP Type,Team,Results,Pitch Count,New AB,Pitches Per AB,Cumulative New AB,Time Through Order
66188,8806,"Atiya, E. VS Clements, M.",University of Delaware vs University of North ...,NaN,NaN,00:00:02.8,02/16/2024,"Atiya, E.","Clements, M.",B5,...,Fastball,0,NaN,Delaware,None,1,1,2,1,1
66189,8807,"Atiya, E. VS Clements, M.",University of Delaware vs University of North ...,NaN,NaN,00:00:02.1,02/16/2024,"Atiya, E.","Clements, M.",B5,...,Fastball,0,NaN,Delaware,None,2,0,3,1,1
66190,8808,"Atiya, E. VS Clements, M.",University of Delaware vs University of North ...,NaN,NaN,00:00:08.9,02/16/2024,"Atiya, E.","Clements, M.",B5,...,Changeup,0,Fly Ball,Delaware,Flyout,3,0,6,1,1
66191,8809,"Atiya, E. VS Gerteisen, T.",University of Delaware vs University of North ...,NaN,NaN,00:00:02.3,02/16/2024,"Atiya, E.","Gerteisen, T.",B5,...,Unknown,0,NaN,Delaware,None,4,1,5,2,1
66192,8810,"Atiya, E. VS Gerteisen, T.",University of Delaware vs University of North ...,NaN,NaN,00:00:02.1,02/16/2024,"Atiya, E.","Gerteisen, T.",B5,...,Curveball,0,NaN,Delaware,None,5,0,6,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48141,68,"Taylor, Z. VS Green, P.",UNC Wilmington vs Georgia Tech,NaN,NaN,00:00:06.2,06/02/2024,"Taylor, Z.","Green, P.",B4,...,Changeup,83,NaN,UNCW,None,68,0,258,16,2
48142,69,"Taylor, Z. VS Green, P.",UNC Wilmington vs Georgia Tech,NaN,NaN,00:00:06.1,06/02/2024,"Taylor, Z.","Green, P.",B4,...,Curveball,81,NaN,UNCW,None,69,0,327,16,2
48143,70,"Taylor, Z. VS Green, P.",UNC Wilmington vs Georgia Tech,NaN,NaN,00:00:05.4,06/02/2024,"Taylor, Z.","Green, P.",B4,...,Fastball,91,NaN,UNCW,None,70,0,397,16,2
48144,71,"Taylor, Z. VS Green, P.",UNC Wilmington vs Georgia Tech,NaN,NaN,00:00:06.1,06/02/2024,"Taylor, Z.","Green, P.",B4,...,Curveball,79,NaN,UNCW,None,71,0,468,16,2
48145,72,"Taylor, Z. VS Green, P.",UNC Wilmington vs Georgia Tech,NaN,NaN,00:00:05.8,06/02/2024,"Taylor, Z.","Green, P.",B4,...,Changeup,82,NaN,UNCW,Walk,72,0,540,16,2

In [21]:
combined_df = calculate_runs(combined_df)
combined_df

,#,Title,Notes,Tags,Text Overlay,Duration,Date,Pitcher,Hitter,Inning,...,Team,Results,Pitch Count,New AB,Pitches Per AB,Cumulative New AB,Time Through Order,Runs Before,Runs After,Runs on the Play
66188,8806,"Atiya, E. VS Clements, M.",University of Delaware vs University of North ...,NaN,NaN,00:00:02.8,02/16/2024,"Atiya, E.","Clements, M.",B5,...,Delaware,None,1,1,2,1,1,7,7.0,NaN
66189,8807,"Atiya, E. VS Clements, M.",University of Delaware vs University of North ...,NaN,NaN,00:00:02.1,02/16/2024,"Atiya, E.","Clements, M.",B5,...,Delaware,None,2,0,3,1,1,7,7.0,NaN
66190,8808,"Atiya, E. VS Clements, M.",University of Delaware vs University of North ...,NaN,NaN,00:00:08.9,02/16/2024,"Atiya, E.","Clements, M.",B5,...,Delaware,Flyout,3,0,6,1,1,7,7.0,NaN
66191,8809,"Atiya, E. VS Gerteisen, T.",University of Delaware vs University of North ...,NaN,NaN,00:00:02.3,02/16/2024,"Atiya, E.","Gerteisen, T.",B5,...,Delaware,None,4,1,5,2,1,7,7.0,NaN
66192,8810,"Atiya, E. VS Gerteisen, T.",University of Delaware vs University of North ...,NaN,NaN,00:00:02.1,02/16/2024,"Atiya, E.","Gerteisen, T.",B5,...,Delaware,None,5,0,6,2,1,7,7.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48141,68,"Taylor, Z. VS Green, P.",UNC Wilmington vs Georgia Tech,NaN,NaN,00:00:06.2,06/02/2024,"Taylor, Z.","Green, P.",B4,...,UNCW,None,68,0,258,16,2,4,4.0,NaN
48142,69,"Taylor, Z. VS Green, P.",UNC Wilmington vs Georgia Tech,NaN,NaN,00:00:06.1,06/02/2024,"Taylor, Z.","Green, P.",B4,...,UNCW,None,69,0,327,16,2,4,4.0,NaN
48143,70,"Taylor, Z. VS Green, P.",UNC Wilmington vs Georgia Tech,NaN,NaN,00:00:05.4,06/02/2024,"Taylor, Z.","Green, P.",B4,...,UNCW,None,70,0,397,16,2,4,4.0,NaN
48144,71,"Taylor, Z. VS Green, P.",UNC Wilmington vs Georgia Tech,NaN,NaN,00:00:06.1,06/02/2024,"Taylor, Z.","Green, P.",B4,...,UNCW,None,71,0,468,16,2,4,4.0,NaN
48145,72,"Taylor, Z. VS Green, P.",UNC Wilmington vs Georgia Tech,NaN,NaN,00:00:05.8,06/02/2024,"Taylor, Z.","Green, P.",B4,...,UNCW,Walk,72,0,540,16,2,4,NaN,NaN

In [20]:
combined_df.loc[
    (combined_df["Pitcher"] == "Scotti, W.") & 
    (combined_df["Notes"] == "Northeastern University vs University of Arizona"), 
    ["Score", "Runs Before", "Runs After", "Runs on the Play"]
]

      Score  Runs Before  Runs After  Runs on the Play
40965   1-0            1         1.0               NaN
40966   1-0            1         1.0               NaN
40967   1-0            1         1.0               NaN
40968   1-0            1         1.0               NaN
40969   1-0            1         1.0               NaN
40970   1-0            1         1.0               NaN
40971   1-0            1         1.0               NaN
40972   1-0            1         1.0               NaN
40973   1-0            1         1.0               NaN
40974   1-0            1         2.0               1.0
40975   1-1            2         2.0               NaN
40976   1-1            2         2.0               NaN
40977   1-1            2         2.0               NaN
40978   1-1            2         2.0               NaN
40979   1-1            2         2.0               NaN
40980   1-1            2         2.0               NaN
40981   1-1            2         2.0               NaN
40982   1-1            2         2.0               NaN
40983   1-1            2         2.0               NaN
40984   1-1            2         3.0               1.0
40985   1-2            3         3.0               NaN
40986   1-2            3         3.0               NaN
40987   1-2            3         3.0               NaN
40988   1-2            3         3.0               NaN
40989   1-2            3         3.0               NaN
40990   1-2            3         3.0               NaN
40991   1-2            3         3.0               NaN
40992   1-2            3         3.0               NaN
40993   1-2            3         3.0               NaN
40994   1-2            3         3.0               NaN
40995   1-2            3         3.0               NaN
40996   1-2            3         3.0               NaN
40997   1-2            3         3.0               NaN
40998   1-2            3         4.0               1.0
40999   1-3            4         4.0               NaN
41000   1-3            4         4.0               NaN
41001   1-3            4         4.0               NaN
41002   1-3            4         4.0               NaN
41003   1-3            4         4.0               NaN
41004   1-3            4         4.0               NaN
41005   1-3            4         4.0               NaN
41006   1-3            4         4.0               NaN
41007   1-3            4         4.0               NaN
41008   1-3            4         4.0               NaN
41009   1-3            4         4.0               NaN
41010   1-3            4         4.0               NaN
41011   1-3            4         4.0               NaN
41012   1-3            4         4.0               NaN
41013   1-3            4         6.0               2.0

In [23]:
def calculate_re24(combined_df):
    # Filter only valid outs (0, 1, 2)
    combined_df = combined_df[combined_df["Outs"].isin([0, 1, 2])]

    # Create a new column representing the Base-Out State
    combined_df["Base-Out State"] = combined_df["Runners On Base"] + "_" + combined_df["Outs"].astype(str)
    
    # Compute Run Expectancy by averaging "Runs on the Play" for each base-out state
    re24_table = combined_df.groupby("Base-Out State")["Runs on the Play"].mean().reset_index()
    
    # Rename column for clarity
    re24_table.rename(columns={"Runs on the Play": "RE24"}, inplace=True)
    
    return re24_table

# Apply function to compute RE24 values
re24_values = calculate_re24(combined_df)
print(re24_values)

   Base-Out State      RE24
0            - _0  3.193277
1            - _1  2.895706
2            - _2  4.974476
3      1B-2B-3B_0  2.111940
4      1B-2B-3B_1  2.354396
5      1B-2B-3B_2  3.814621
6         1B-2B_0  3.180180
7         1B-2B_1  3.400943
8         1B-2B_2  4.268245
9         1B-3B_0  1.735294
10        1B-3B_1  2.114833
11        1B-3B_2  3.130584
12           1B_0  4.157895
13           1B_1  4.018519
14           1B_2  4.722689
15        2B-3B_0  2.041667
16        2B-3B_1  2.058824
17        2B-3B_2  4.462585
18           2B_0  2.931818
19           2B_1  2.333333
20           2B_2  4.123746
21           3B_0  1.816327
22           3B_1  1.743455
23           3B_2  3.534653

/var/folders/n8/_m5744s511ggm75y1q9wsjnr0000gn/T/ipykernel_33995/1068865904.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_df["Base-Out State"] = combined_df["Runners On Base"] + "_" + combined_df["Outs"].astype(str)

Base-Out State: ' - _0'
Average Runs on the Play: 3.193